*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.8rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 550px) {
}

/* Header */

.block {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fa-bars {
  font-size: 2.2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.nav__list {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0;
  background: #fff;
}

.nav__item {
  padding: 1rem 0;
  transition: background 0.2s;
}

.nav__item:hover {
  background: rgb(240, 240, 240);
}

.nav__item > a,
.fas {
  color: #707070;
  transition: color 0.3s;
}

.nav__item > a {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.fa-caret-down {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.btn {
  border-radius: 25px;
  white-space: nowrap;
  cursor: pointer;
}

.btn a {
  color: #fff;
}

.btn__sign {
  padding: 0.5rem 1.8rem;
  background: #cb46d3;
  display: none;
  transition: background 0.3s;
}

@media screen and (min-width: 768px) {
  .icon__menu {
    margin-right: 2rem;
  }

  .img__link {
    margin-left: 7rem;
  }

  .fa-bars {
    margin-right: 7rem;
  }
}

@media screen and (min-width: 930px) {
  .nav {
    flex-wrap: nowrap;
  }

  .nav .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    padding: 0.5rem 0;
  }

  .nav__item:hover {
    background: transparent;
  }

  .nav__item a:hover {
    color: #111;
  }

  .btn__sign {
    display: block;
  }

  .btn__sign:hover {
    background: #ff00dd;
    color: #fff;
  }

  .btn__sign > a:hover {
    color: #fff;
  }

  .icon__menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .img__link {
    margin-left: 3.5rem;
  }
}

/* Main heading */

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 98%);
}

.intro-section {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(114, 80, 213) 0px,
    rgb(170, 71, 165) 50%,
    rgb(244, 58, 103) 99%
  );
  padding: 2rem 0 15.7rem;
  margin-top: 6.8rem;
  position: relative;
}

.intro-heading {
  margin: 2rem;
  color: white;
  line-height: 1.3;
}

@media screen and (min-width: 425px) {
  .intro-heading {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  }

  .intro-section {
    padding: 7.5rem 0 34rem;
  }

  .intro-heading {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro-heading {
    width: 84.5rem;
    margin: 2rem auto;
  }
}

/* Profile */

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 7rem;
  padding-bottom: 5rem;
}

.profile-img {
  width: 28rem;
  border: 3px solid #fff;
  position: absolute;
  top: -20rem;
}

.hello {
  font-size: 1.4rem;
  background: linear-gradient(
    90deg,
    rgb(114, 80, 213) 0px,
    rgb(170, 71, 165) 50%,
    rgb(244, 58, 103) 99%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.profile__heading,
.profile__disc {
  text-align: center;
}

.profile__heading {
  color: #211c51;
  margin-top: 2rem;
}

.profile__disc {
  color: #555;
  margin: 2rem;
  max-width: 650px;
}

.profile__fact {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.fact__item {
  text-align: center;
  font-size: 1.4rem;
  color: #555;
}

.number {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgb(114, 80, 213) 0px,
    rgb(170, 71, 165) 50%,
    rgb(244, 58, 103) 99%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (min-width: 550px) {
  .profile__fact {
    width: initial;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .profile__container {
    margin-top: 14rem;
  }

  .profile-img {
    width: 725px;
    top: -47rem;
  }
}

/* User */

.block--skewed-left-user {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 2%, 100% 0%, 100% 95%, 0% 98%);
}

.tweet {
  background: #f5f5f5;
}

.users {
  padding: 10rem 1rem 17rem;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(1, 1fr);
  gap: 3rem;
  max-width: 80rem;
}

.user__item {
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
  font-size: 1.6rem;
}

.user__header {
  display: flex;
  align-items: center;
}

.user__img {
  width: 40px;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.user__name,
.user__email,
.user__text {
  font-size: 1.6rem;
}

.user__name {
  color: #111;
  font-weight: 700;
}

.user__email {
  margin-bottom: 0;
  color: #666;
}

.user__text {
  margin-top: 2rem;
  margin-bottom: 0%;
  color: #333;
}

@media screen and (min-width: 425px) {
  .user__item {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .block--skewed-left-user {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 7%, 100% 0%, 100% 95%, 0% 98%);
  }

  .users {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding-left: 0;
    padding-right: 0;
    padding-top: 12rem;
    gap: 0;
  }

  .user__item {
    margin: 2rem;
  }
}

/* features */

.feature {
  text-align: center;
  padding: 0 2rem;
}

.feature__header {
  margin-bottom: 7rem;
}

.feature__heading {
  font-size: 2.6rem;
  letter-spacing: -1px;
  line-height: 1.5;
}

.feature__item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(1, 1fr);
  gap: 2rem;
  margin: 3rem auto;
  max-width: 76rem;
}

.feature__text,
.feature__text p {
  text-align: left;
}

.feature__text .text__pink {
  margin: 1rem 0;
  color: #e059cd;
  font-size: 1.4rem;
}

.feature__text h3 {
  margin: 0 0 0.5rem;
  color: #211c51;
  line-height: 1.3;
}

.feature__text p {
  margin: 0 0 3rem;
}

.feature__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature__item {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, auto);
    margin: 5rem auto;
  }

  .feature__item:nth-of-type(even) .feature__text {
    order: 2;
  }
}

/* Courses */

.section--course {
  background: #f8f8f8;
  padding: 5rem 0;
}

.course__head {
  color: #211c51;
  margin-top: 0;
  padding-bottom: 2rem;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
}

.course__list {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
  gap: 2rem;
  max-width: 1140px;
  margin: auto;
}

.course,
.course__item {
  padding: 0 1.2rem;
}

.course__link {
  border-radius: 10px;
  background: #fff;
}

.course__item {
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border 0.2s;
}

.course__item:hover {
  border: 2px solid rgb(197, 208, 228);
}

.course__link:hover .course__heading {
  transition: color 0.1s;
}

.course__link:hover .course__heading {
  color: #c910d3;
}

.course__item {
  display: flex;
  flex-direction: column;
}

.course__img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course__text {
  text-align: center;
  padding: 1rem;
}

.course__heading {
  color: #222;
  margin: 0;
  padding-bottom: 0.5rem;
}

.course__disc,
.bundle {
  font-size: 1.5rem;
  color: #777;
}

.bundle {
  text-align: left;
}

.course__btn-link {
  display: block;
  color: #fff;
  background: #c910d3;
  width: fit-content;
  margin: 5rem auto 2rem;
  padding: 1.6rem 3rem;

  border-radius: 3rem;
  transition: background 0.3s;
}

.course__btn-link:hover {
  background: #ff00dd;
}

.course .profile__disc {
  width: fit-content;
  margin: 0 auto 3rem;
}

.learning {
  color: #c910d3;
  text-align: center;
}

.learning:hover {
  color: #f200ff;
}

@media screen and (min-width: 768px) {
  .course__list {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 2fr);
    gap: 3rem;
  }

  .course__item {
    padding: 0;
  }
}

@media screen and (min-width: 950px) {
  .course__list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 2fr);
    gap: 4rem 2rem;
  }

  .course__item {
    padding: 0;
  }
}

/* Enroll */

.section--enroll {
  background: linear-gradient(90deg, #31092a, #0e0331);
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.enroll {
  max-width: 760px;
  margin: auto;
  padding: 0 2rem;
}

.enroll__heading {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.enroll__para {
  margin-bottom: 3rem;
}

.offer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 400px;
  background: linear-gradient(90deg, #53125d, #321858 80%);
  border-radius: 1.5rem;
  position: relative;
  max-width: 36rem;
  margin: 0 auto 2rem;
}

.offer-bold {
  font-size: 5.5rem;
}

.offer-text,
.offer-bold {
  margin: 0;
}

.enroll .offer__slash {
  height: 1px;
  background: #826b90;
  width: 30%;
  transform: rotate(-60deg);
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  left: 0;
}

.join {
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.img-enroll {
  width: 100%;
  max-width: 40rem;
  transform: translateX(-16%);
}

.enroll__link {
  margin: 0 auto;
  background: linear-gradient(90deg, #339cff, #5960ff 43%, #d713e6);
  font-size: 1.7rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .offer {
    padding: 3rem 5rem;
  }

  .enroll__heading {
    font-size: 3.8rem;
  }
}

/* Footer */

.section--footer {
  padding: 4rem 0;
  color: rgb(189, 189, 189);
}

.footer {
  max-width: 750px;
}

.footer__images {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.footer__images a {
  margin: 0 1rem;
}

.footer-img {
  width: 3.5rem;
}

.footer__list {
  margin: 0 0 1rem;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  color: inherit;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.footer__item:hover {
  color: #333;
}

.footer__copyright {
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    flex-direction: row;
  }

  .footer__copyright {
    padding: 0 1.5rem;
  }

  .footer__list {
    margin-left: 10rem;
  }
}
