*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: #ffd936;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.8;
  letter-spacing: -1.5px;
}

p {
  font-size: 1.6rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 3.5rem;
    line-height: 4.3;
  }
}

/* header */

.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.212),
      rgba(36, 36, 36, 0.212),
      rgba(0, 0, 0, 0.212)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block {
  max-width: 1200px;
  margin: auto;
}
/* header navbar */
.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo-link,
.icon {
  margin: 2rem;
}

.logo-link:hover,
.icon:hover {
  cursor: pointer;
}

.logo {
  width: 5rem;
}

.fa-bars {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 1.2rem;
  background: #ffd936;
  border-radius: 50%;
}

.nav__list {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 8rem;
  text-align: left;
}

.nav__item {
  background: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav__item > a {
  color: #333;
  font-size: 1.45rem;
  transition: color 0.2s;
}

.nav__item:hover > a {
  color: #ffd936;
}

.yellow {
  color: #ffd936 !important;
}

.nav__item:last-child {
  display: none;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* header navbar media */
@media screen and (min-width: 900px) {
  .logo {
    width: 6rem;
  }

  .icon {
    display: none;
  }

  .nav__item {
    background: transparent;
    border: 0;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    position: initial;
    margin-right: 2rem;
  }

  .nav__item > a {
    color: rgb(248, 248, 248);
    font-size: 1.6rem;
  }

  .nav__item:hover > a {
    color: rgb(255, 255, 255);
  }

  .yellow {
    color: #fff !important;
  }

  .nav__item:last-child {
    display: block;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 5px;
  }
}

/* header intro */

.hero--intro {
  text-align: center;
  padding: 4rem 0 7rem;
  color: #fff;
}

.hero__heading {
  margin-top: 0;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
}

.nature {
  display: block;
  text-align: center;
  font-size: 7.2rem;
}

.hero__text {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.btn__start:hover {
  background: #eec50e;
}

.btn__start {
  color: #5f7141;
  background: #ffd936;
}

@media screen and (min-width: 768px) {
  .hero--intro {
    padding: 5rem 0 8rem;
  }

  .hero__heading {
    font-size: 5rem;
    letter-spacing: -3px;
    line-height: -1.5;
  }
  .nature {
    font-size: 9.8rem;
  }

  .hero__text {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  .hero--intro {
    padding: 10.5rem 0 15.5rem;
  }

  .nature {
    font-size: 11.7rem;
  }

  .hero__text {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.6rem;
  }
}

/* Services */

.block-inner {
  padding: 5rem 1rem;
}

.serv__main-heading {
  color: #735d21;
  font-weight: 400;
}

.serv__main-heading::after {
  content: "";
  display: block;
  background: #ffd936;
  height: 3px;
  max-width: 80px;
  margin: 2rem auto;
}

.serv__list {
  margin-bottom: 0;
}

.serv__item {
  padding: 3rem 1.5rem;
}

.serv__img {
  width: 100%;
  border-radius: 2px;
}

.serv__text {
  padding: 0.6rem 1rem;
  text-align: left;
}

.serv__sub-heading {
  color: #546a44;
  font-weight: 400;
}

.serv__para {
  color: #888;
  letter-spacing: 0.5px;
  line-height: 1.7;
  font-size: 1.5rem;
}
/* service media query */
@media screen and (min-width: 768px) {
  .serv__list {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Qoute */

.quote {
  background: #f6f8f5;
}

.fa-quote-left {
  font-size: 3.4rem;
  color: #c5cdbf;
}

.quote__text {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -1.5px;
  color: #53694b;
  margin: 2rem 0;
  padding: 0 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.quote__img {
  width: 5rem;
}

.quote__name {
  color: #bfc0ac;
  font-size: 1.4rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .quote__text {
    padding: 1rem 8rem;
  }
}

@media screen and (min-width: 850px) {
  .quote__text {
    max-width: 630px;
    margin: 2rem auto;
  }
}

/* About */
.about {
  padding: 0 1.5rem;
}

.abt__text {
  text-align: left;
}

.abt-us {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #888;
}

.abt__heading {
  color: #53694b;
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 2rem;
  padding: 0;
}

.abt__para {
  color: #536941cc;
  line-height: 1.7;
  margin: 3rem 0;
}

.btn__about {
  color: #666;
  border: 1px solid #666;
  transition: all 0.3s;
}

.btn__about:hover {
  color: rgb(157, 219, 13);
  border: 1px solid rgb(157, 219, 14);
}

.abt__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .abt__text {
    padding-right: 3.5rem;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .abt__img {
    display: block;
    width: 350px;
  }
}

@media screen and (min-width: 900px) {
  .abt__text {
    padding-right: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .abt__text {
    padding-right: 20rem;
    margin-left: 2rem;
  }

  .abt__heading {
    font-size: 4rem;
  }

  .abt__img {
    width: 450px;
  }
}

/* Question */

.question__text {
  padding: 5rem 0;
}

.quest__heading {
  margin: 0 0 2rem;
  text-transform: uppercase;
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: -2px;
  color: #5c4a1a;
}

.quest__para {
  color: #888;
  padding: 0 3rem;
  letter-spacing: 1px;
  line-height: 2;
  margin: 2.5rem auto 3rem;
  max-width: 50rem;
}

@media screen and (min-width: 1024px) {
  .question {
    background: url(../images/question.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .quest__heading {
    font-size: 5.8rem;
  }
}

/* Footer */
.footer__nav {
  font-size: 1.5rem;
}

.footer__nav__list {
  margin: 0;
}

.footer__nav__item {
  margin: 1.2rem 0;
}

.footer__nav__item > a {
  color: #555;
}

.footer__logo {
  width: 6rem;
  margin: 3rem 0;
}

.footer__copyright {
  color: #666;
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .footer__nav__list {
    display: flex;
    justify-content: center;
  }
  .footer__nav__item {
    margin: 0 2rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nav__item {
    margin: 0 1.5rem;
  }

  .footer__nav__item:first-child {
    margin-left: 2rem;
  }

  .footer__copyright {
    margin-right: 2rem;
  }

  .footer__logo {
    margin: 0;
    transform: translateX(-3rem);
  }
}
